@model SPade.Models.Submission

@{
    ViewBag.Title = "PostSubmission";
}

<div class="col-md-4 col-md-offset-4 form-horizontal">

    <!--Temporary. To delete-->
    <ul>
        <li>Submission id: @Html.DisplayFor(modelItem => modelItem.SubmissionID)</li>
        <li>Assignment id: @Html.DisplayFor(modelItem => modelItem.AssgnID)</li>
        <li>File Path: @Html.DisplayFor(modelItem => modelItem.FilePath)</li>
        <li>Admin number: @Html.DisplayFor(modelItem => modelItem.AdminNo)</li>
        <li>Timestamp: @Html.DisplayFor(modelItem => modelItem.Timestamp)</li>
        <li>Grade: @Html.DisplayFor(modelItem => modelItem.Grade)</li>
    </ul>
</div>
