@model SPade.ViewModels.Student.submissionSolution

@{
    ViewBag.Title = "Post Submission";
}

<div class="jumbotron" style="width: 70%; margin: 0 auto;">
    <fieldset style="width: 90%; margin: 0 auto;">
        <legend>Results</legend>

        <p>Completed By: @Html.DisplayFor(modelItem => modelItem.Submission.AdminNo)</p>
        <p>Submitted On: @Html.DisplayFor(modelItem => modelItem.Submission.Timestamp)</p>
        <p>Grade: @Math.Round(Model.Submission.Grade * 100)% </p>
        <p>@Html.ValidationMessage("SubmissionError")</p>
        <br/>
        @if (Model.Solution.Count != 0)
        {
        @*<p>@Html.ValidationMessage("SubmissionError")</p>*@
            <table class="table table-hover" style="border-width: 0;">
                <tr style="font-size: 150%;">
                    <th>Input Description</th>
                    <th></th>
                    <th>Result</th>
                    <th></th>
                </tr>
                @foreach (var solution in Model.Solution)
                {
                    if (!solution.Description.Equals(""))
                    {
                        <tr style="font-size: 150%;">
                            <td>@solution.Description</td>
                            <td></td>
                            <td>@(solution.Score == 1 ? "Pass" : "Fail")</td>
                            <td></td>
                        </tr>
                    }
                }
            </table>
        }
        @if (Model.Submission.Grade < 1)
        {
            <p id="hint" hidden>Hints : @Html.DisplayFor(modelItem => modelItem.Hints)</p>
        }
        <p><a href="/Student/ViewAssignment" class="btn btn-default" style="float: left">Back to view Assignments</a></p>
        @if (Model.Submission.Grade < 1)
        {
            <p>
                <input id="hintBtn" style="float: right" type="button" class="btn btn-default" value="hint"/>
            </p>
        }
    </fieldset>
</div>

@section Scripts {
    <script>
        $("#hintBtn").on("click", function () {
            if ($("#hint").is(":hidden")) {
                $("#hint").fadeIn();
            } else {
                $("#hint").fadeOut();
            }
            
        })
    </script>
}