@model SPade.ViewModels.Student.SubmitAssignmentViewModel

@{
    ViewBag.Title = "Submit Assignment";
}

<div class="col-md-4 col-md-offset-4 form-horizontal">
    <fieldset>

        @using (Html.BeginForm("SubmitAssignment", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- To change assignment id to assignment title when database updated -->
            <legend>@Html.DisplayFor(modelItem => modelItem.assignment.AssgnTitle)</legend>

            <!-- QuestionTextArea -->
            <div class="form-group">
                <div class="col-md-12">
                    <div class="jumbotron col-md-12">
                        <p>
                            @Html.DisplayFor(modelItem => modelItem.assignment.Describe)
                        </p>
                    </div>
                    <label>Module: </label> @Html.DisplayFor(modelItem => modelItem.Module)<br />
                    <label>Start date: </label> @Html.DisplayFor(modelItem => modelItem.assignment.StartDate)<br />
                    <label>Due date: </label> @Html.DisplayFor(modelItem => modelItem.assignment.DueDate)<br />
                    <label>Issued by: </label> @Html.DisplayFor(modelItem => modelItem.assignment.CreateBy)<br />
                    <label>Number of attempts remaining: </label> @Html.DisplayFor(modelItem => modelItem.RetryRemaining)
                </div>
            </div>

            if (Model.RetryRemaining <= 0)
            {
                <h4>You have ran out of retries. Click <a href="/Student/ViewAssignment">here</a> to go back.</h4>
            }
            else if (Model.assignment.StartDate.Date > DateTime.Now.Date)
            {
                <h4>Please wait until the start date to submit your assignment. Click <a href="/Student/ViewAssignment">here</a> to go back.</h4>
            }
            else if (Model.assignment.DueDate.Date < DateTime.Now.Date)
            {
                <h4>Due date of assignment has been passed. You may not attempt it anymore. Click <a href="/Student/ViewAssignment">here</a> to go back.</h4>
            }
            else
            {
                <div id="submissionField">

                    <!-- File Button -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="AssignmentFile">Upload Solution (Note: Please zip up your project before uploading)</label>
                            @Html.TextBoxFor(m => m.File, new { type = "file" })
                            @Html.ValidationMessageFor(m => m.File)
                            @*<p class="text-danger">@Html.ValidationMessage("UploadError")</p>*@
                            @Html.ValidationSummary(true, "UploadError", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <div class="col-md-10 ">
                            <input id="submit" type="submit" class="btn btn-primary" value="Submit" />
                            <button onClick="goBack()" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="progressBar" hidden>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">
                            grading...
                        </div>
                    </div>
                </div>
            }
        }
        <!--end of form-->

        <div class="form-group">
            <div class="col-md-10">
                <label id="lblmesseage"></label>
            </div>
        </div>

        <script>
            function goBack() { window.history.back(); }
            $('#submit').on('click', function () {
                $('#progressBar').prop('hidden', false);
                $('#submissionField').prop('hidden', true);
            })
        </script>

    </fieldset>
</div>
