@model SPade.ViewModels.Student.ViewResultViewModel

@{
    ViewBag.Title = "View Result";
}

@Scripts.Render("~/bundles/tablescript")
@Styles.Render("~/bundles/tablestyle")

<div class="col-md-10 col-md-offset-1">
    <fieldset>
        <legend>View Result</legend>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input id="search" name="search" class="form-control" placeholder="Search" type="text" data-column="any" />
            </div>
        </div>

        <div class="form-group">
            <table class="table table-striped table-hover tablesorter">
                <thead>
                    <tr>
                        <th>Assignment</th>
                        <th>Issued On</th>
                        <th>Due Date</th>
                        <th>Result</th>
                        <th>Overall</th>
                        <th>Submitted On</th>
                        <th class="sorter-false">Download Latest Submission</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        int n = 0;
                        foreach (var i in Model.Assignment)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@Model.IssuedOn[n]</td>
                                <td>@Model.DueDate[n]</td>
                                <td>@Model.Result[n]</td>
                                <td>@Model.Overall[n]</td>
                                <td>@Model.SubmittedOn[n]</td>
                                <td><a href="@Model.Submission[n]" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span></a></td>
                            </tr>

                            n++;
                        }
                    }

                </tbody>
            </table>
        </div>
    </fieldset>
</div>

