@model SPade.ViewModels.Admin.AddClassViewModel

@{
    ViewBag.Title = "Add Class";
}

@using (Html.BeginForm("AddOneClass", "Admin", FormMethod.Post))
{

<div class="col-md-4 col-md-offset-4 form-horizontal">
    <fieldset> 
        @Html.AntiForgeryToken()
        <legend>Add Class</legend>


        <!--Select Course-->
        <div class="form-group">
            <div class="col-md-12">
                <label>Course</label>
                @{
                    @Html.DropDownListFor(c => Model.CourseID, new SelectList(Model.Courses, "CourseID", "CourseName"), "--Select a Course--", new { @class = "form-control" })
                }
            </div>
        </div>

        <!-- classNameInput-->
        <div class="form-group">
            <div class="col-md-12">
                <label for="inputStaffNo" class="control-label">Class Name</label>
                @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control input-md", required = "required" })
            <span class="help-block">@Html.ValidationMessage("ClassName", new { @class = "text-danger" })</span>
            </div>
        </div>

        <!--Select lecturer-->
        <div class="form-group">
            <div class="col-md-12">
                <label >Lecturer</label>
                @{
                    @Html.DropDownListFor(c => Model.StaffID, new SelectList(Model.Lecturers, "StaffID", "Name"), "--Select a Lecturer--", new { @class = "form-control"} )
                }    
            </div>
        </div>

        <!-- saveBtn, cancelBtn -->
        <div class="form-group">
            <div class="col-md-12 ">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a id="btnCancel" href="javascript:history.back()" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </fieldset>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



    }