@model SPade.ViewModels.Shared.AddStudentViewModel

@{
    ViewBag.Title = "Add Student";
}

@using (Html.BeginForm("AddOneStudent", "Admin", FormMethod.Post))
{

    <div class="col-md-4 col-md-offset-4 form-horizontal">
        <fieldset>
            @Html.AntiForgeryToken()
            <legend>Add Student</legend>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- studentIdInput-->
            <div class="form-group">
                <div class="col-md-12">
                    <label>Admin No</label>
                    @Html.TextBoxFor(m => m.AdminNo, new { @class = "form-control input-md", required = "required" })
                    <span class="help-block">With 'p' (e.g. p1234567)</span>
                    <span class="help-block">@Html.ValidationMessage("AdminNo", new { @class = "text-danger" })</span>
                </div>
            </div>

            <!-- studentNameInput-->
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-md", required = "required" })
                    <span class="help-block">e.g. John Tan</span>
                    <span class="help-block">@Html.ValidationMessage("Name", new { @class = "text-danger" })</span>
                </div>
            </div>

            <!-- studentClass-->
            <div class="form-group">
                <div>
                    <div class="col-md-12">
                        <label>Class</label>
                        @{
                            @Html.DropDownListFor(c => Model.ClassID, new SelectList(Model.Classes, "ClassID", "ClassName"), "--Select a Class--", new { @class = "form-control" })
                        }
                    </div>
                </div>
            </div>

            <!-- studentEmail-->
            <div class="form-group">
                <div class="col-md-12">

                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-md", required = "required" })
                    <span class="help-block">e.g. abc@hotmail.com</span>
                    <span class="help-block">@Html.ValidationMessage("Email", new { @class = "text-danger" })</span>

                </div>
            </div>

            <!-- studentContactNo-->
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Contact No.</label>
                    @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control input-md", required = "required" })
                    <span class="help-block">@Html.ValidationMessage("ContactNo", new { @class = "text-danger" })</span>
                </div>
            </div>

            <!-- registerBtn, cancelBtn -->
            <div class="form-group">
                <div class="col-md-12 ">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a id="btnCancel" href="javascript:history.back()" class="btn btn-default">Cancel</a>
                </div>
            </div>

        </fieldset>
    </div>
                            }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
