@model SPade.ViewModels.Admin.UpdateClassViewModel

@{
    ViewBag.Title = "UpdateClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("UpdateClass", "Admin", FormMethod.Post))
{
<div class="container">

    <div class="col-md-6 col-md-offset-3 form-horizontal">
        <fieldset>
            @Html.AntiForgeryToken()
            <legend>Update Class</legend>

            @Html.Hidden("ClassID")

            <!--Select Course-->
            <div class="form-group">
                <div class="col-md-12">
                    <label>Course</label>
                    @{
                        @Html.DropDownListFor(c => Model.CourseID, new SelectList(Model.Courses, "CourseID", "CourseName"), new { @class = "form-control" })
                    }
                </div>
            </div>

            <!-- classNameInput-->
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Class Name</label>
                    @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control input-md", required = "required" })
                    <span class="help-block">@Html.ValidationMessage("ClassName", new { @class = "text-danger" })</span>
                </div>
            </div>

            <!--Select lecturer-->
            <div class="form-group">
                <div class="col-md-12">
                    <label>Lecturer</label>
                    @{
                        @Html.DropDownListFor(c => Model.StaffID, new SelectList(Model.Lecturers, "StaffID", "Name"), new { @class = "form-control" })
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Update" name="command" class="btn btn-primary" />                    
                    <input type="submit" value="Delete" name="command" class="btn btn-danger"
                           onclick="return confirm('Are you sure?')" />
                    <a href="javascript:history.back()" class="btn btn-default">Cancel</a>
                    <!-- Show alert-->
                    @Html.Raw(TempData["msg"])
                </div>
            </div>

        </fieldset>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

    }