@model SPade.ViewModels.Admin.UpdateClassViewModel

@{
    ViewBag.Title = "UpdateClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("UpdateClass", "Admin", FormMethod.Post))
{
<div class="container">

    <div class="col-md-6 col-md-offset-3 form-horizontal">
        <fieldset>
            @Html.AntiForgeryToken()
            <legend>Update Class</legend>

            @Html.Hidden("ClassID")

            <!--Select Course-->
            <div class="form-group">
                <div class="col-md-12">
                    <label>Course</label>
                    @{
                        @Html.DropDownListFor(c => Model.CourseID, new SelectList(Model.Courses, "CourseID", "CourseName"), new { @class = "form-control" })
                    }
                </div>
            </div>

            <!-- classNameInput-->
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Class Name</label>
                    @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control input-md", required = "required" })
                    <span class="help-block">@Html.ValidationMessage("ClassName", new { @class = "text-danger" })</span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Update" name="command" class="btn btn-primary" />                    
                    <a href="javascript:history.back()" class="btn btn-default">Cancel</a>
                    <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#modal">Delete</button>
                    <!-- Show alert-->
                    @Html.Raw(TempData["msg"])
                </div>
            </div>

            <div class="modal" id="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Are you sure you want to delete?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" id="submitBtn" name="command" value="Delete" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

    }