<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SPade | SP Auto-Grading</title>

    <link rel="icon" href="/img/favicon.ico" />

    @Scripts.Render("~/bundles/script")
    @Styles.Render("~/bundles/style")
    
</head>
<body>

    <!-- Nav Bar Starts-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Will activate method Index() in controller of Home folder, which is HomeController-->
                <!-- and in HomeController.cs, Index() method returns view, what view? Index.cshtml in Home folders of course -->
                <a class="navbar-brand" href="/Home/Index">
                    <img style="max-width: 120px; margin-top: -8px;" src="../../img/logo2.png" />
                </a>
            </div>

            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="glyphicon glyphicon-th"></i> Dashboard</a></li>
                    <li> @Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end of nav bar -->
    <!-- all views rendered here-->
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
