<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SPade | SP Auto-Grading</title>

    <link rel="icon" href="/img/favicon.ico" />

    @Styles.Render("~/Content/css")

</head>
<body>

    <!-- Nav Bar Starts-->
    <div class="navbar navbar-defaults navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Will activate method Index() in controller of Home folder, which is HomeController-->
                <!-- and in HomeController.cs, Index() method returns view, what view? Index.cshtml in Home folders of course -->
                <a class="navbar-brand" href="/Home/Index">
                    <img style="max-width: 120px; margin-top: -8px;" src="../../img/logo2.png" />
                </a>
            </div>

            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="glyphicon glyphicon-th"></i>Dashboard</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i> John Tan <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="divider"></li>
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end of nav bar -->

    <div class="container body-content">

        <!-- all views rendered here-->
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SPade | SP Auto-Grading</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", required: false)
</body>
</html>
