@model SPade.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="col-md-4 col-md-offset-4 form-horizontal">
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-2 control-label" for="Email">Email</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
                <span class="help-block">@Html.ValidationMessage("Email", new { @class = "text-danger" })</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="Password">Password</label>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "required" })
                <span class="help-block">@Html.ValidationMessage("Password", new { @class = "text-danger" })</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="ConfirmPassword">Confirm Password</label>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required" })
                <span class="help-block">Password must have at least 1 uppercase, lowercase, number and special character</span>
                <span class="help-block">@Html.ValidationMessage("ConfirmPassword", new { @class = "text-danger" })</span>
            </div>
        </div>

        <h3 class="page-header">Info</h3>

        <div class="form-group">
            <label class="col-md-2 control-label" for="AdminNo">Admin No.</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.student.AdminNo, new { @class = "form-control" })
                <span class="help-block">With 'p' (e.g. p123456)</span>
                <span class="help-block">@Html.ValidationMessage("AdminNo", new { @class = "text-danger" })</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Name">Full Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.student.Name, new { @class = "form-control" })
                <span class="help-block">As stated in Student Card</span>
                <span class="help-block">@Html.ValidationMessage("Name", new { @class = "text-danger" })</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="ContactNo">Contact Number</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.student.ContactNo, new { @class = "form-control" })
                <span class="help-block">For emergency contact</span>
                <span class="help-block">@Html.ValidationMessage("ContactNo", new { @class = "text-danger" })</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="ClassName">Class</label>
            <div class="col-md-10">

                <select class="form-control">

                    @{
                        foreach (var m in Model.classList)
                        {
                            <option value="@m.ClassID">@m.ClassName</option>
                            <!--<option value="@@Html.DisplayFor(modelitem => m.ClassID)" >
                                @@Html.DisplayFor(modelitem => m.ClassName)
                            </option>-->
                        }
                    }

                </select>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
                        }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
