@model SPade.ViewModels.Lecturer.AddAssignmentViewModel

@{
    ViewBag.Title = "Add Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/daterangescripts")

@using (Html.BeginForm("AddAssignment", "Lecturer", FormMethod.Post))
{
    <div class="container">

        <div class="col-md-4 col-md-offset-4 form-horizontal">
            <fieldset>
                <legend>Add Assignment</legend>

                <p>1. To set a question, please type the question into the text area below.</p>
                <p>
                    2. Please ensure that solutions uploaded are working as the system will compile the
                    solution uploaded.
                </p>
                <p>
                    3. <a href="XMLdownload/testcase.xml">
                        <i class="glyphicon glyphicon-file"></i>Download
                        this .xml file
                    </a> and input the test cases in a similar format as presented inside.
                </p>

                <div class="form-group">
                    <div class="col-md-12">
                        <label>Assignment Name</label>
                        @Html.TextBoxFor(m => Model.AssgnTitle, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label></label>

                        @{
                            @Html.DropDownListFor(c => Model.ModuleId, new SelectList(Model.Modules, "ModuleCode", "ModuleName"), new { @class = "form-control" })
                        }

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label>
                            Question
                        </label>
                        @Html.TextAreaFor(m => Model.Describe, new { @class = "col-md-12- form-control", @row = "4" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="SolutionsFile">Upload Solutions File</label>
                        <input id="SolutionsFile" class="form-control" type="file" style="border: solid 1px red" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="SolutionsFile">Upload Test Cases</label>
                        <input id="TestCase" class="form-control" type="file" style="border: solid 1px red" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="daterange">Select start and end date</label>
                        <!--<input type="text" class="form-control" name="daterange" value="" />-->
                        @Html.TextBox("daterange", "", new { @class = "form-control" })
                        @Html.HiddenFor(m => Model.StartDate)
                        @Html.HiddenFor(m => Model.DueDate)

                        <script type="text/javascript">
                            $(function () {
                                $('input[name="daterange"]').daterangepicker();
                            });

                            var range = $("#daterange").data("daterangepicker");

                            $("#daterange").on('apply.daterangepicker', function (ev, picker) {

                                console.log(picker.startDate.format('YYYY-MM-DD'));
                                console.log(picker.endDate.format('YYYY-MM-DD'));

                                var sd = picker.startDate.format('YYYY-MM-DD');
                                var ed = picker.endDate.format('YYYY-MM-DD')

                                $('#StartDate').val(sd)
                                $('#DueDate').val(ed)

                            })
                        </script>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Select classes to allocate assignment to
                        </label>
                        <input type="text" class="form-control" id="classSelect" placeholder="Select classes..." />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Select maximum attempts allowed
                        </label>
                        @Html.TextBoxFor(m => m.MaxAttempt, new { @class = "form-control", @min = "0", @type = "number" })
                    </div>
                </div>

                <!-- Modal for choosing class-->
                <div id="classModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Choose classes to allocate assignment to</h4>
                            </div>

                            <div class="modal-body">
                                @{
                                    for (var i = 0; i < Model.ClassList.Count(); i++)
                                    {
                                        @Html.HiddenFor(m => Model.ClassList[i].ClassId)
                                        @Html.CheckBoxFor(m => Model.ClassList[i].isSelected)
                                        @Model.ClassList[i].ClassName
                                    }
                                }
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Select</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    $("#classSelect").click(function () {

                        $("#classModal").modal("show");

                    })
                </script>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a href="javascript:history.back()" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
                                    }
